data/images/Water-3.bmp
data/images/Water-2.bmp
data/images/Ship-Water-Cloud-2.bmp
data/images/Water-1.bmp
data/images/Ship-Water-Cloud-1.bmp
data/images/Ship-water-2.bmp
data/images/Ship-water-1.bmp
data/images/Plane-2.bmp
data/images/Cloud-Water-2.bmp
data/images/Cloud-1.bmp
data/images/Cloud-2.bmp
data/images/Cloud-Water-1.bmp
benchmark_fine.cpp
benchmark_fine.cpp
bench_fine
bench_new
include/yolo/models/yolov8n.onnx
include/yolo/models/yolov8n.pt
include/yolo/models/best.onnx
include/yolo/models/best.pt
data/train
data/val
data/water_classifier_best.pth
data/water_classifier.pth
edge-sat-cnn-profiled
.gitignore
edge-sat-bmp
edge-sat-bmp-profiled
edge-sat-cnn
edge-sat-bmp
main_bmp_profiled.cpp
main_bmp.cpp
main_with_cnn_profiled.cpp
data/abc.py
data/water_classifier.onnx.data
include/classifier/water_classifier.onnx
data/features.csv
data/labels.csv
data/val.py
data/explore_features.py
data/count.py
data/train_classifier.py
